AddKeysToAgent yes

Host 200
  HostName 192.168.2.200
  User pi
  ForwardAgent yes

Host minimizada
 HostName 192.168.10.70
 User tryolabs
 ForwardAgent yes

Host 200m
 User pi
 ForwardAgent yes
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.200 22

Host 197m
 User pi
 ForwardAgent yes
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.197 22

Host se
 User pi
 ForwardAgent no
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.52 38567

Host fe1
 User pi
 ForwardAgent no
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.53 38567

Host fe2
 User pi
 ForwardAgent no
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.54 38567

Host arm
 User root
 ForwardAgent no
 ProxyCommand ssh -q minimizada nc -q0 192.168.2.81 22


